# open ai api key
OPENAI_API_KEY=

# pinecone api key
PINECONE_API_KEY=

# pinecone environment
PINECONE_ENVIRONMENT=

# pinecone index name, should have 1536 dimensions
PINECONE_INDEX=

# namespace for vector partition
PINECONE_NAMESPACE=

# telegram bot token
BOT_TOKEN=